@page "/"
@inject IConfiguration config

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<ul>
<li>Default connection: @config.GetConnectionString("Default")</li>
<li>Root value: @(config.GetValue<string>("RootValue"))</li>
<li>Nested value: @(config.GetValue<string>("Nested:NestedValue"))</li>
</ul>